body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px;
    text-align: center;
}
nav ul{
    display:flex;
    justify-content: space-between;
    list-style: none;
    min-width: 100px;
    margin: 20px;
    color: yellow;
    font-size: 30px;
} 

/* Light Mode */
.light {
    background-color: white;
    color: black;
    height: 100vh;
}

.light li a {
    color: black;
}

.light li a:hover {
    background-color: black;
}

/* Dark Mode */
.dark {
    background-color: black;
    height: 100vh;
    color: white;
}

.dark li a {
    color: white;
}

.dark li a:hover {
    background-color: #111;
}

.blog ul {
    list-style-type: none;
    padding: 0;
}

.blog li {
    margin-bottom: 20px;
    position: relative; /* Ensure list items are positioned relatively */
}

.blog label {
    display: block;
    margin-bottom: 5px;
    background-color: white; /* Add background color to make label text visible */
    color: black;
}

.blog textarea {
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    padding-top: 25px; /* Adjust this value to ensure the text doesn't overlap with the label */
}

footer {
    text-align: center;
    margin-top: 50px;
}
