* {
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

:root {
    --green: rgb(145, 221, 183);
    --blue: rgb(43, 39, 75);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    text-align: center;
    border: 2px solid var(--green);
}

nav {
    display: flex;
    justify-content: space-between;
    list-style: none;
    min-width: 100px;
    margin: 20px;
    font-size: 25px;
}

nav:hover {
    cursor: pointer;
}

.container {
    display: flex;
    justify-content: space-around;
    /* Add space between sections */
}

.starter {
    width: 30vw;
    height: 30vw;
    max-width: 400px;
    max-height: 400px;
    border-radius: 50%;
    background: var(--green);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 10px;
    margin-top: 50px;
}

.starter,
.form-section {
    width: 50%;
    /* Adjust width as needed */
    padding: 20px;
}

form ul {
    list-style: none;
    width: 100%;
}

form ul li {
    display: flex;
    flex-direction: column;

}

/* Light Mode */
.light {
    background-color: white;
    color: black;
    height: 100vh;
}

.light li a {
    color: black;
}

.light li a:hover {
    background-color: black;
}

/* Dark Mode */
.dark {
    background-color: var(--blue);
    height: 100vh;
    color: white;
}

.dark li a {
    color: white;
}

.dark li a:hover {
    background-color: var(--blue);
}

footer {
    text-align: center;
    margin-top: 50px;
}

footer li {
    list-style: none;
}