*{
    box-sizing: border-box;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    text-align: center;
    background-color: rgb(145, 221, 183);
}
nav {
    display:flex;
    justify-content: space-between;
    list-style: none;
    min-width: 100px;
    margin: 20px;
    font-size: 25px;
} 
nav:hover {
    cursor:pointer;
}
.container {
    display: flex;
    justify-content: space-between; /* Add space between sections */
}
.starter {
    width: 200px;
    height: 700px;
    border-radius: 50%;
    background: rgb(145, 221, 183);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 10px;
   margin-top: 50px;
}
.starter,
.form-section {
    width: 50%; /* Adjust width as needed */
}

form ul {
    list-style: none;
    padding-left: 200px;
}



/* Light Mode */
.light {
    background-color: white;
    color: black;
    height: 100vh;
}

.light li a {
    color: black;
}

.light li a:hover {
    background-color: black;
}

/* Dark Mode */
.dark {
    background-color: rgb(43, 39, 75);
    height: 100vh;
    color: white;
}

.dark li a {
    color: white;
}

.dark li a:hover {
    background-color: rgb(43, 39, 75);
}

footer {
    text-align: center;
    margin-top: 50px;
}

/* @media screen and (max-width: 992px) {
    .starter {
        width: 50%;
    }
}
@media screen and (max-width: 768px) {
    .starter {
      width: 100%;
    }
  } */